*,
::before,
::after {
  margin: 0;
  padding: 0;
}
@import url(https://fonts.google.com/specimen/Red+Hat+Display);

body {
  height: 100%;
  font-family: Red Hat Display;
  line-height: 1.5;
  position: relative;
  background-image: url(images/pattern-background-desktop.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 100%, 94%);
}
main {
  position: absolute;
  height: auto;
  width: 350px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  margin-top: 250px;
}

.main-image {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

h1 {
  text-align: center;
  color: hsl(223, 47%, 23%);
  font-weight: 700;
  margin: 15px 0 0 0;
}
.first-para {
  text-align: center;
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  margin: 0 10px;
}
.vessel {
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  width: fit-content;
  padding: 5px 50px;
  border-radius: 8px;
  margin: 10px auto;
  font-weight: 700;
}
.last-div {
  text-align: center;
  margin: 10px 0;
  font-weight: 900;
  color: hsl(224, 23%, 55%);
  margin: 20px 0;
}
.plan {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: -55px;
  margin-left: 40px;
}
.para-1 {
  text-align: center;
}
.icon {
  display: flex;
  justify-content: space-around;
}
.para-2 {
  margin-top: -45px;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  font-weight: 900;
}
.music {
  margin-top: 10px;
  margin-left: 30px;
}
.para {
  font-weight: 700;
  color: hsl(223, 47%, 23%);
}
.para-1 {
  font-weight: 500;
}
